$bg-color: rgb(20, 16, 33);
$font-color: rgb(255,255,255);
$main-color: #be50f4;
$secondary-color: #c770f0;
$scrollbar-track-color: #2d1950;
$scrollbar-thumb-color: rgba(178, 121, 216, .959);
$scrollbar-thumb-hover-color: rgb(173, 108, 216);

$rotationDuration: 20s;
$hoverDuration: 0.3s;

$easeIn: cubic-bezier(0.32, 0, 0.67, 0);
$easeOut: cubic-bezier(0.33, 1, 0.68, 1);

$textColor: #A6B8B1;
$accentColor: #E8D6C1;