$bg-color: rgb(20, 16, 33);
$font-color: rgb(255,255,255);
$main-color: #be50f4;
$secondary-color: #c770f0;
$scrollbar-track-color: #2d1950;
$scrollbar-thumb-color: rgba(178, 121, 216, .959);
$scrollbar-thumb-hover-color: rgb(173, 108, 216);