@import "animation";
@import "variables";
@import "loader";

@import "header";
@import "homePage";
@import "about";
@import "contact";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, serif !important;
  background-color: $bg-color;
  color: $font-color;

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 12px;

}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;

}


::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
}


